.Toastify {
    margin-bottom: -30px;
}

.image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    filter: brightness(50%);
    width: 100%;
    object-fit: cover;
    height: auto;
    transition: filter 0.1s ease-in-out;
  }
  
  .image-container img.gray-scale {
    filter: grayscale(100%);
  }